html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {font-family: Roboto, sans-serif;
    font-style: normal;
}

.page { 
   background-color: #ffffff;
   color: var(--primary-text-color);
     }